.minn-app-snowlepoard {
  margin-top: 30px;
}
.minn-app-snowlepoard ul.img-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.minn-app-snowlepoard ul.img-list li {
  flex: 0 0 30%;
  height: 300px;
  overflow: hidden;
  margin: 10px;
}
.minn-app-snowlepoard ul.img-list li img {
  display: block;
  min-width: 100%;
  height: 100%;
}