html,body,div,img,article,ul,li{
	margin:0;
	padding:0;
	border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
img{
	display: block;
}
ul,li{
	display: block;
	list-style-type: none;
}
ul li{
	width: 100%;
	max-height: 15rem;
	position: relative;
	overflow: hidden;
	margin-bottom: .5rem;
}
.lazy{
	min-width: 100%;
	min-height:15rem;
}