body{
	color: #4C4C4C;
	font-size: 0.875rem;
}
.middle{
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
    -moz-transform: translate(-52%, -52%);
    -o-transform: translate(-50%, -52%);
}
@keyframes myRotate{
	0% {transform: rotate(-225deg);}
	50%{transform: rotate(-135deg);}
	100%{transform: rotate(-45deg);}
}
@-moz-keyframes myRotate{
	0% {transform: rotate(-225deg);}
	50%{transform: rotate(-135deg);}
	100%{transform: rotate(-45deg);}
}
@-webkit-keyframes myRotate{
	0% {transform: rotate(-225deg);}
	50%{transform: rotate(-135deg);}
	100%{transform: rotate(-45deg);}
}
@keyframes myRotate2{
	0% {transform: rotate(-45deg);}
	50%{transform: rotate(55deg);}
	100%{transform: rotate(135deg);}
}
@-moz-keyframes myRotate2{
	0% {transform: rotate(-45deg);}
	50%{transform: rotate(55deg);}
	100%{transform: rotate(135deg);}
}
@-webkit-keyframes myRotate2{
	0% {transform: rotate(-45deg);}
	50%{transform: rotate(55deg);}
	100%{transform: rotate(135deg);}
}
.bindDivWrap{
	width: 100%;
	text-align: center;
}
.barDiv{
	width: 75%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 1.5rem auto;
}
.payBar.barDiv{
	margin-top: 0;
}
.barDiv img{
	display: block;
	width: 100%;
}
.creditBind {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.125rem;
    color: #00D6B2;
    padding: 0 1.0rem;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 1px solid #00D6B2;
    border-radius: .35rem;
    -moz-border-radius: .35rem;
    -webkit-border-radius: .35rem;
}
.creditBind:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 2.0rem;
	height: 2.0rem;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
    background-size: 400%;
    background-position: 0 49%;
    margin-top: -.125rem;
}
/*门店二维码绑定css*/
.shopBindWrap{
	position: relative;
}
.shopBindWrap .title{
	color: #808080;
	font-size: 0.75rem;
	width: 100%;
	padding-left: 0.625rem;
	height: 2.0rem;
	line-height: 2.0rem;
	border-bottom:1px solid #E3E3E3;
}
.shopBindWrap ul{
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0 0.625rem;
}
.shopBindWrap ul li{
	display: block;
	position: relative;
	overflow: hidden;
    padding: .75rem 0;
    padding-left: 2.5rem;
    border-bottom: 1px solid #E3E3E3;
}
.shopBindWrap ul li:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 1.0rem;
	width: 2.0rem;
	height: 2.0rem;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
    background-size: 400%;
}
.creditItem:before{
    background-position: 0 49%;
}
.couponItem:before{
    background-position: 33% 49%;
}
.queueItem:before{
    background-position: 67% 49%;
}
.orderItem:before{
    background-position: 100% 49%;
}

.itemDiv{
	position: relative;
	line-height: 1.35rem;
}
.disable div {
    color: #ACACAC;
}
.itemDesc {
    color: #808080;
    font-size: 0.75rem;
}
.check {
    display: block;
    position: absolute;
    right: 0.75rem;
    top: 1.5rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #B3B3B3;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
    -webkit-border-radius: .25rem;
}
.disable .check{
	border: 1px solid #ACACAC;
}
.check.checked {
    background: #2399EA;
    border: 0;
}
.checked:before{
	content: '';
	display: block;
    position: absolute;
	width: .25rem;
	height: .6rem;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	left: .45rem;
	top: .2rem;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.comBtn{
	background: #00A2FF;
	color:#fff;
	font-size: 1.125rem;
	width: 75%;
	margin: 0 auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: .35rem;
    -moz-border-radius: .35rem;
    -webkit-border-radius: .35rem;
    text-align: center;
    letter-spacing: 0.25rem;
}
.btnWrap{
	position: relative;
	width: 86%;
	margin: 1.5rem auto;
	overflow: hidden;
}
.btnWrap div{
	display: block;
	width: 45%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: .35rem;
    -moz-border-radius: .35rem;
    -webkit-border-radius: .35rem;
    text-align: center;
    font-size: 1.125rem;
}
.btnCancel{
	border: 1px solid #00A2FF;
	color: #00A2FF;
	float: left;
}
.btnEdit{
	background: #00A2FF;
	color:#fff;
	border: 0;
	float: right;
}
.btnClose{
	background: #00A2FF;
	color:#fff;
	border: 0;
	float: left;
}


.bcWrap{
	background:#fff;
}
.shopBindSucWrap{
	text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #eff5f6;
}
.shopBindSucWrap .title{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 3.0rem;
	line-height: 3.0rem;
	text-align: center;
	margin-top: 2.0rem;
	color: #2198EA;
	font-size: 1.125rem;
}
.shopBindSucWrap .title:before,.shopBindSucWrap .title:after{
	content: '';
	display: inline-block;
    vertical-align: middle;
}
.shopBindSucWrap .title:before{
    background: #2399EA;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-right: 0.75rem;
}
.shopBindSucWrap .title:after{
	position: absolute;
    width: .35rem;
    height: .7rem;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: .55rem;
    top: 1.125rem;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.infoDiv {
    text-align: left;
    padding: 0 .625rem;
}
.shopItem {
    height: 3.75rem;
    line-height: 3.75rem;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
}
.shopItem:last-child{
	border: 0;
}
.shopItem span{
	color: #808080;
}
span.onStatus,span.offStatus {
    display: inline-block;
    padding: 0 .5rem;
    background: #00A2FF;
    color: #fff;
    height: 1.25rem;
    line-height: 1.25rem;
    vertical-align: middle;
    font-size: .625rem;
    border-radius: .625rem;
    -moz-border-radius: .625rem;
    -webkit-border-radius: .625rem;
}
span.offStatus{
	background: #FF7D26;
}
.payBindWrap{
	padding: 0 .625rem;
}
.sumItem{
	width: 100%;
	padding-left: 7.5rem;
	height: 3.75rem;
	line-height: 3.75rem;
	position: relative;
    padding-right: 1.0rem;
    border-bottom: 1px solid #E3E3E3;
}
.shopSale.sumItem{
	padding-left: 10rem;
	padding-right: 0;
	border: 0;
}
.sumItem .lable{
	width: 8rem;
	position: absolute;
	text-align: justify;
	top: 0;
	left: 0;
}
.shopSale .lable{
	width: 10rem;
}
.sumSet .lable:before,.machine .lable:before,.purRestri .lable:before,.shopSale .lable:before,.tabSet .lable:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon.png);
    background-size: 480%;
}
.machine .lable:before{
    background-position:34% 5%;
}
.sumSet .lable:before{
	background-position:3% 5%;
}
.purRestri .lable:before{
	background-size: 510%;
	background-position:65% 98%;
}
.shopSale .lable:before{
    background-position: 4% 98%;
}
.tabSet .lable:before{
	background-position: 33% 98%;
    background-size: 500%;
}
.sumSet .lable,.fixedAmout .lable,.purRestri .lable,.tabSet .lable:before{
	letter-spacing: 0.175rem;
}
.fixedAmout .lable:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}
.sumItem.fixedAmout,.sumItem.purRestri{
	padding-right: 0;
	height: 5.0rem;
    line-height: 5.0rem;
}
.sumItem.fixedAmout{
	color: #808080;
}
.rightIcon{
	display: inline-block;
	position: absolute;
	right: .125rem;
	vertical-align: middle;
	transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    width: 0.5rem;
    height: 0.5rem;
    top: 1.7rem;
}
.infoRight {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
    text-align: right;
}
.shopSale .infoRight{
	height: 3.75rem;
}
.infoRight input{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #D1D1D6;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    border-radius: .35rem;
    -moz-border-radius: .35rem;
    -webkit-border-radius: .35rem;
    padding: 0 .5rem;
    color: #808080;
    font-size: .75rem;
}
.fixedAmout .infoRight input{
	text-align: right;
}
i.rightUnit {
    position: absolute;
    right: .5rem;
    top: 0;
}
i.toggleBtn.active,i.toggleBtn {
    display: block;
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 1.125rem;
    background: #d0d0d0;
    border-radius: .75rem;
    -moz-border-radius: .75rem;
    -webkit-border-radius: .75rem;
}
i.toggleBtn.active{
	background: #2198ea;
}
i.toggleBtn.active:after,i.toggleBtn:before{
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background: #eaecee;
	width: 1.5rem;
	height: 1.5rem;
	border: #2198ea 1px solid;
	border-radius: .75rem;
    -moz-border-radius: .75rem;
    -webkit-border-radius: .75rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
i.toggleBtn.active:before{
	width: 0;
	height: 0;
}
i.toggleBtn:before{
	left: 0;
	right: inherit;
	background: #ebf0f3;
	border: 0;
	box-shadow: 1px 1px 1px 1px #868686;
	-webkit-box-shadow: 1px 1px 1px 1px #868686;
}
.saleTip {
    color: #FF2020;
    font-size: 0.75rem;
    margin-top: -1rem;
    padding-left: 1.75rem;
}
.saleType {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #808080;
    padding-left: 1.75rem;
}
.selectProduct {
    float: right;
    color: #FF6130;
    border: 1px solid #FF6130;
    display: block;
    height: 1.25rem;
    line-height: 1.25rem;
    margin-top: .625rem;
    padding: 0 .5rem;
    box-sizing: content-box;
    font-size: .75rem;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
    -webkit-border-radius: .25rem;
}
.tickets {
	position: relative;
    padding-left: 1.75rem;
    margin-bottom: .5rem;
}
.cashTicket {
    background: #2399EA;
    color: #fff;
    height: 2.75rem;
    line-height: 2.75rem;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
    -webkit-border-radius: .25rem;
    padding: 0 .75rem;
    position: relative;
}
.cashTicket:before,.cashTicket:after{
	content: '';
	display: block;
	position: absolute;
	width: .75rem;
	height:.75rem;
	left: -.375rem;
	top: 1rem;
	background: #fff;
	border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.cashTicket:after{
	left: inherit;
	right: -.375rem;
}
.cashTicket label {
    color: #FAFF00;
    display: inline-block;
    height: 2.0rem;
    line-height: 2.0rem;
    border-right: 1px dashed #84CCFD;
    padding-right: .5rem;
    margin-right: .5rem;
}
.cashTicket .delIcon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    position: absolute;
    right: .75rem;
    top: .625rem;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.cashTicket .delIcon:before,.cashTicket .delIcon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: inset 0 0 0 1.0rem #2399EA;
}
.cashTicket .delIcon:before {
    width: .9rem;
    height: 2px;
}
.cashTicket .delIcon:after {
    height: .9rem;
    width: 2px;
}


.sumDiv {
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 .625rem;
    position: relative;
}
.sumDiv div{
	border-bottom: #e3e3e3 1px solid;
}
.sumOption {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b3b3b3;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.sumDiv.active {
	background: #eef0f5;
}
.active .sumOption {
    background: #2399EA;
    border: 0;
}
.active .sumOption:before {
    content: '';
    display: block;
    position: absolute;
    width: .25rem;
    height: .6rem;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: .45rem;
    top: .2rem;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*商家优惠*/
.couponsWrap{
	width: 100%;
	padding: 0 0.625rem;
	overflow: hidden;
	position: relative;
	margin-top: .5rem;
}
.couponsWrap ul{
	display: block;
	width: 100%;
	margin: 0 auto;
	border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	overflow: hidden;
	position: relative;
}
.couponsWrap ul li{
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.5rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #fff;
	padding-left: 3.75rem;
}
.couponsWrap ul li.active{
	border-top-right-radius: .35rem;
    -moz-border-top-right-radius: .35rem;
    -webkit-border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
    -moz-border-bottom-right-radius: .35rem;
    -webkit-border-bottom-right-radius: .35rem;
}
.couponsWrap ul li.active:before,.couponsWrap ul li.active:after{
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
}
.couponsWrap ul li.active:before{
    width: 4rem;
    height: 4rem;
    background: #2399EA;
    border: 0;
    top: -2rem;
    right: -2rem;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.couponsWrap ul li.active:after{
    width: .3rem;
    height: .7rem;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: .5rem;
    top: .3rem;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.couponPic{
	display: block;
	width: 3.75rem;
	height: 4.5rem;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-size: .75rem;
    border-top-left-radius: .35rem;
    -moz-border-top-left-radius: .35rem;
    -webkit-border-top-left-radius: .35rem;
    border-bottom-left-radius: .35rem;
    -moz-border-bottom-left-radius: .35rem;
    -webkit-border-bottom-left-radius: .35rem;
}
.infoDetail{
	width: 100%;
	padding: .45rem;
	padding-right: .35rem;
	height: 4.5rem;
	position: relative;
	border: #c6ecdc 1px solid;
	border-left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    border-top-right-radius: .35rem;
    -moz-border-top-right-radius: .35rem;
    -webkit-border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
    -moz-border-bottom-right-radius: .35rem;
    -webkit-border-bottom-right-radius: .35rem;
	outline:none;
}
.moneyCou .couponPic,.saleCou .couponPic{
	color: #fff;
	line-height: 1.35rem;
    padding-top: 0.875rem;
}
.moneyCou .couponPic{
	background-color: #ffa320;
}
.saleCou .couponPic{
	background-color: #1fc974;
}
.borderIcon{
	display: block;
	width: 0.25rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/white.png);
	background-repeat: repeat-y;
    background-size: 75%;
    z-index: 6;
}
.qc,.single{
	display: block;
    position: absolute;
    top: 0;
    left: 0.1rem;
    background-image: url(../images/qc.png);
    width: 2.0rem;
    height: 2.0rem;
    background-size: cover;
}
.qc{
    background-image: url(../images/qc.png);
    background-size: cover;
}
.single{
    background-image: url(../images/danpin.png);
    background-size: cover;
}
.balll{
	display: block;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	background: #eff5f6;
	position: absolute;
	z-index: 6;
	top: 1.875rem;
}
.balll{
	left: -0.35rem;
}


.ballt,.ballb{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	background: #eff5f6;
	position: absolute;
	z-index: 6;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	left: 3.55rem;
	border: #c6ecdc 1px solid;
}
.ballt{
	top: -0.2rem;
}
.ballb{
	bottom: -0.2rem;
}
.couponPic .digit{
	font-size: 1.25rem;
}
.couImgDiv {
    width: 2.75rem;
    height: 2.75rem;
    float: left;
    background: #d8d8d8;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
    -webkit-border-radius: .25rem;
    position: relative;
    overflow: hidden;    
}
.infoDetail img{
	display: block;
	width: 100%;
	height: 100%;
}
.infoWrap{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	line-height: 1.35rem;
    padding-left: 0.625rem;
}
.table{
	display: table;
	height: 2.75rem;
}
.useDate {
    font-size: .625rem;
    position: absolute;
    bottom: .15rem;
    color: #AFAFAF;
}
.productName{
	font-weight: bold;
}
.currPrice{
	color: #ff6130;
	font-size: 0.813rem;
	font-weight: bold;
}
.origiPrice{
	color: #AFAFAF;
	font-size: 0.75rem;
	text-decoration: line-through;
}
.yen{
	font-size: 0.625rem;
	color: #ff6130;
    display: inline-block;
	width: 0.35rem;
}


.tabBindWrap{
	width: 100%;
	background: #fff;
	padding: 0 .625rem;
}
.rightSpan{
	float: right;
	padding-right: 1rem;
}

.tabInfoItem{
	position: relative;
	padding: 0 .625rem;
	color:#ABABAB;
}
.tabInfoItem .itemTitle{
	color: #2198ea;
}
.tabInfoItem .itemTitle {
	position: relative;
    color: #2198ea;
    height: 2.75rem;
    line-height: 3rem;
    border-bottom: 1px solid #E3E3E3;
    font-size: 1.125rem;
}
.tabInfoItem .itemTitle span{
	color: #ABABAB;
	font-size: .875rem;
}
i.unfold,i.fold {
    display: inline-block;
    position: absolute;
    right: .5rem;
    vertical-align: middle;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-left: 2px solid #ABABAB;
    border-bottom: 2px solid #ABABAB;
    width: 0.6rem;
    height: 0.6rem;
    top: 1.25rem;
}
i.unfold{
	animation: myRotate 300ms linear 1;
    -moz-animation: myRotate 300ms linear 1;
    -webkit-animation: myRotate 300ms linear 1;
}
i.fold{
	transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 1.5rem;
    animation: myRotate2 300ms linear 1;
    -moz-animation: myRotate2 300ms linear 1;
    -webkit-animation: myRotate2 300ms linear 1;
}
.tabInfoItem ul{
	display: block;
	width: 100%;
	padding-left: .625rem;
}
.tabInfoItem ul li{
	display: table;
	height: 5rem;
	width: 100%;
	line-height: 1.5rem;
	border-bottom: 1px solid #E3E3E3;
}
.tabInfoItem .tabImg {
    display: table-cell;
    width: 3.5rem;
    position: relative;
}
.tabInfoItem .tabImg:before{
	content: '';
	display: block;
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	background: #ddd;
    position: absolute;
    background: url(../images/tab.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.tabImg span{
    display: block;
    width: 3.0rem;
    height: 3.0rem;
    line-height: 3.0rem;
    z-index: 4;
    position: absolute;
    color: #fff;
    top: .75rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabInfoItem ul li .tabInfo{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.tabInfoItem span.sumOption {
    right: .75rem;
}