/*页面样式*/
body{
	background: #eee;
}
.infoWrap{
	 position: relative;
	 overflow: hidden;
	 padding-bottom: 1.0rem;
	 text-align: center;
}
.imgDiv{
	width: 3.5rem;
	height: 3.5rem;
	margin: 0.875rem auto 0.5rem;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.imgDiv img{
	display: block;
	width: 100%;
	position: relative;
}
.shopName{
	font-size: 0.938rem;
	color: #2d2d2d;
	font-weight: bold;
	line-height: 1.5rem;
}
.shopAddr{
    color: #999;
    font-size: 0.75rem;
    line-height: 1.5rem;
    height: 1.5rem;
}
.shopAddr:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.0rem;
    height: 1.0rem;
    background: url(image/adrIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.owl-theme .owl-controls{
	margin-top: 0.35rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	/*width: 12px;*/
	/*height: 12px;*/
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	/*opacity: 0.5;*/
	/*-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;*/
	/*background: #869791;*/
	overflow: hidden;
	color: #999;
    font-size: 0.75rem;
    position: relative;
    overflow: visible;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	color: #1c96f1;
	font-size: 0.875rem;
}
.owl-theme .owl-controls .owl-page.active span:after,.owl-theme .owl-controls.clickable .owl-page:hover span:after{
	content: '';
	display: block;
	width: 60%;
	height: 2px;
	background: #1c96f1;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	margin: 1.5rem auto;
	height: 16.875rem;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  
}

.owl-carousel  .owl-item .item{
	width: 94%;
	margin: 0 auto;
	height: 100%;
}
/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
.owl-carousel .owl-item{
	transition:all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	height: 16.875rem;
}

#owl-demo {display: block; margin: 1.5rem auto;width: 500%;}
/*#owl-demo .owl-wrapper{padding: 0 30px;}*/
#owl-demo .item{ display: block;border-radius: 0.35rem;
	-moz-border-radius: 0.35rem;
	-webkit-border-radius: 0.35rem;position: relative;overflow: hidden; text-align: center; float: left; height: 16.375rem;
	 -webkit-box-shadow:0 0 0.25rem 0.08rem #ddd;  
	  -moz-box-shadow:0 0 0.25rem 0.08rem #ddd;
	  box-shadow:0 0 0.25rem 0.08rem #ddd;
    margin: 0.25rem auto;}
.boxTop{
	height: 8.75rem;
	width: 100%;
	background: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 0.875rem;
}
.boxTop .title {
    font-size: 1.125rem;
    height: 2.0rem;
    line-height: 2.0rem;
}
.boxPic{
	display: block;
	width: 5.0rem;
	height: 5.0rem;
	margin: 0 auto;
	background: url(../img/cardTab/icon_m.png);
	background-size: 400%;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.credit .boxPic{
    background-position: 0 100%;
}
.coupon .boxPic{
    background-position:100% 100%;
}
.queue .boxPic{
    background-position: 68% 100%;
}
.order .boxPic{
    background-position: 34% 100%;
}
.boxBottom{
	width: 100%;
	height: 7.625rem;
    color: #fff;
    padding-top: 0.875rem;
    line-height: 1.5rem;

}
.credit .boxBottom{
    background: #00d6b2;
    background: -moz-linear-gradient(top,  #00d6b2 0%, #00c8bc 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#00d6b2), color-stop(100%,#00c8bc));
    background: -webkit-linear-gradient(top,  #00d6b2 0%,#00c8bc 100%);
    background: -o-linear-gradient(top,  #00d6b2 0%,#00c8bc 100%);
    background: -ms-linear-gradient(top,  #00d6b2 0%,#00c8bc 100%);
    background: linear-gradient(to bottom,  #00d6b2 0%,#00c8bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6b2', endColorstr='#00c8bc',GradientType=0 );
}
.coupon .boxBottom{
    background: #00d6b2;
    background: -moz-linear-gradient(top,  #f59c3d 0%, #f1753e 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#f59c3d), color-stop(100%,#f1753e));
    background: -webkit-linear-gradient(top,  #f59c3d 0%,#f1753e 100%);
    background: -o-linear-gradient(top,  #f59c3d 0%,#f1753e 100%);
    background: -ms-linear-gradient(top,  #f59c3d 0%,#f1753e 100%);
    background: linear-gradient(to bottom,  #f59c3d 0%,#f1753e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59c3d', endColorstr='#f1753e',GradientType=0 );
}
.queue .boxBottom{
    background: #00d6b2;
    background: -moz-linear-gradient(top,  #17c6eb 0%, #0f98e6 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#17c6eb), color-stop(100%,#0f98e6));
    background: -webkit-linear-gradient(top,  #17c6eb 0%,#0f98e6 100%);
    background: -o-linear-gradient(top,  #17c6eb 0%,#0f98e6 100%);
    background: -ms-linear-gradient(top,  #17c6eb 0%,#0f98e6 100%);
    background: linear-gradient(to bottom,  #17c6eb 0%,#0f98e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c6eb', endColorstr='#0f98e6',GradientType=0 );
}
.order .boxBottom{
    background: #00d6b2;
    background: -moz-linear-gradient(top,  #3badff 0%, #0182e5 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#3badff), color-stop(100%,#0182e5));
    background: -webkit-linear-gradient(top,  #3badff 0%,#0182e5 100%);
    background: -o-linear-gradient(top,  #3badff 0%,#0182e5 100%);
    background: -ms-linear-gradient(top,  #3badff 0%,#0182e5 100%);
    background: linear-gradient(to bottom,  #3badff 0%,#0182e5 100%);
    background: linear-gradient(to bottom,  #3badff 0%,#0182e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3badff', endColorstr='#0182e5',GradientType=0 );
}
.descri{
	font-size: 0.75rem;
}
.boxBottom button{
	background: #fff;
	border: none;
	outline: none;
	padding: 0 1.0rem;
	margin-top: 0.875rem;
	border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	height: 2.0rem;
	line-height: 2.0rem;
	font-size: 0.938rem;
}
.credit button,.credit .title{
    color: #00c8bc;
}
.coupon button,.coupon .title{
     color: #f2803e;
}
.queue button,.queue .title{ 
	color: #13ace8;
}
.order button,.order .title{
	color: #0e8ceb;
}
